[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "modules/augeasproviders_shellvar"]
	path = modules/augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "modules/boolean"]
	path = modules/boolean
	url = https://github.com/adrienthebo/puppet-boolean.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/openldap"]
	path = modules/openldap
	url = https://github.com/camptocamp/puppet-openldap.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/incron"]
	path = modules/incron
	url = https://github.com/meltwater/puppet-incron.git
[submodule "modules/bacula"]
	path = modules/bacula
	url = https://github.com/puppetlabs/puppetlabs-bacula.git
[submodule "modules/samba"]
	path = modules/samba
	url = https://github.com/ajjahn/puppet-samba.git
[submodule "modules/cups"]
	path = modules/cups
	url = https://github.com/mosen/puppet-cups.git
[submodule "modules/gitconfig"]
	path = modules/gitconfig
	url = https://github.com/morawskim/puppet-gitconfig.git
[submodule "modules/zypprepo"]
	path = modules/zypprepo
	url = https://github.com/deadpoint/puppet-zypprepo.git
[submodule "modules/rpmkey"]
	path = modules/rpmkey
	url = https://github.com/stschulte/puppet-rpmkey.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/camptocamp/puppet-archive.git
[submodule "modules/systemd"]
	path = modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "modules/postfix"]
	path = modules/postfix
	url = https://github.com/mjhas/postfix.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/voxpupuli/puppet-nodejs.git
[submodule "modules/zabbix"]
	path = modules/zabbix
	url = https://github.com/morawskim/puppet-zabbix.git
[submodule "modules/jenkins"]
	path = modules/jenkins
	url = https://github.com/morawskim/puppet-jenkins.git
[submodule "modules/archive2"]
	path = modules/archive2
	url = https://github.com/morawskim/puppet-archive.git
[submodule "modules/tomcat"]
	path = modules/tomcat
	url = https://github.com/puppetlabs/puppetlabs-tomcat.git
[submodule "modules/ca_cert"]
	path = modules/ca_cert
	url = https://github.com/morawskim/puppet-ca_cert.git
[submodule "modules/phpfpm"]
	path = modules/phpfpm
	url = git@github.com:morawskim/puppet-phpfpm.git
