[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/gini/puppet-archive.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "modules/augeasproviders_shellvar"]
	path = modules/augeasproviders_shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "modules/boolean"]
	path = modules/boolean
	url = https://github.com/adrienthebo/puppet-boolean.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/openldap"]
	path = modules/openldap
	url = https://github.com/camptocamp/puppet-openldap.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/incron"]
	path = modules/incron
	url = https://github.com/meltwater/puppet-incron.git
[submodule "modules/bacula"]
	path = modules/bacula
	url = https://github.com/puppetlabs/puppetlabs-bacula.git
